@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  font-weight: 600;
  color: #808080 !important;
}

::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  font-weight: 600;
  color: #808080 !important;
}

:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  font-weight: 600;
  color: #808080 !important;
}

:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  font-weight: 600;
  color: #808080 !important;
}

:focus::-webkit-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label, input:not([type="checkbox"]),
input:not([type="radio"]), button {
  -webkit-appearance: none;
  font-family: inherit;
}

label, input[type="submit"], button {
  cursor: pointer;
}

img {
  border: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

button:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover::-webkit-outer-spin-button,
input:hover::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

/* @include transform-translate(#, #); */
/* @include transform-translateY(#); */
/* @include transform-translateX(#); */
/* @include transform-translate3d(#, #, #); */
/* @include transform-rotate(#); */
/* @include transform-scale(#); */
/* @include animation(#); */
/* @include animation-delay(#); */
/* @include animation-duration(#); */
/* @include animation-fill-mode(#); */
/* @include animation-name(#); */
/* @include transition(#); */
/* @include transition-transform(#, #); */
/* @include transition-transform-cubic-bezier(#, #, #, #, #); */
/* @include transition-timing-function(#); */
/* @include transition-duration(#); */
/* @include transition-delay(#); */
/* @include backface-visibility(#); */
/* @include transition-opacity-visibility(#, #); */
/* @include transition-opacity(#); */
/* @include box-shadow(#); */
/* @include opacity(#); */
/* @include border-radius(#); */
/* @include border_b_l-radius(#); */
/* @include border_b_r-radius(#); */
/* @include border_t_r-radius(#); */
/* @include border_t_l-radius(#); */
/* @include box-sizing(#); */
/* @include user-select(#); */
/* @include filter-blur-brightness(#, #); */
/* @include filter-img(#, #); */
/* @include filter(#); */
/* @include box-sizing(#, #(0)); */
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
  border-radius: 100px;
}

.btn:hover {
  background: linear-gradient(45deg, #31C5F9 0%, #7081F6 100%);
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.8);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.8);
}

.btn-dark {
  background: rgba(0, 51, 100, 0.6);
  -webkit-box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
          box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
  color: #005FB9;
}

.btn_md {
  padding: 2rem 4rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@media only screen and (max-width: 767px) {
  .btn_md {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 1.3rem 2rem;
  }
}

.btn_sm {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.6rem 1rem 0.7rem;
  font-weight: 400;
}

.btn-circle {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 2rem;
  position: relative;
  z-index: 1;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
}

.btn-circle:hover {
  background: linear-gradient(45deg, #31C5F9 0%, #7081F6 100%);
  -webkit-transform: scale(1.046);
          transform: scale(1.046);
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.6);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.6);
}

.btn-circle:hover .btn-circle-absolute path {
  fill: #fff;
}

.btn-circle:hover .btn-circle-absolute:before {
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  .btn-circle {
    width: 13.6rem;
    height: 13.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.btn-circle_sm {
  width: 4.8rem;
  height: 4.8rem;
}

@media only screen and (max-width: 767px) {
  .btn-circle_sm {
    width: 4.2rem;
    height: 4.2rem;
  }
}

.btn-circle_md {
  width: 10rem;
  height: 10rem;
}

@media only screen and (max-width: 767px) {
  .btn-circle_md {
    width: 6.2rem;
    height: 6.2rem;
  }
}

.btn-circle-absolute {
  position: absolute !important;
  bottom: -2rem;
  right: -2rem;
  padding-left: 0.6rem !important;
}

@media only screen and (max-width: 991px) {
  .btn-circle-absolute {
    padding: 0 0 0 0.35rem !important;
    bottom: -1.4rem;
    right: -2.8rem;
  }
  .btn-circle-absolute svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media only screen and (min-width: 1360px) {
  .btn-circle_lg {
    width: 24rem;
    height: 24rem;
    padding-top: 2.7rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 1199px) {
  .btn-circle_lg {
    width: 18rem;
    height: 18rem;
  }
}

@media only screen and (max-width: 767px) {
  .btn-circle_lg {
    width: 15.5rem;
    height: 15.5rem;
  }
}

.btn-outline {
  position: relative;
  z-index: 1;
}

.btn-outline:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  left: 0.1rem;
  right: 0.1rem;
  background: #001529;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 100px;
}

.btn-outline.btn-circle {
  padding: 0;
}

.btn-outline.btn-circle:before {
  border-radius: 50%;
}

.btn-outline:hover {
  -webkit-transform: none;
          transform: none;
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
}

.btn-outline:hover path {
  fill: #fff;
}

.btn-outline:hover:before {
  opacity: 0;
}

.btn-login {
  padding-bottom: 0.2rem !important;
}

.btn-login:hover {
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
}

@media only screen and (max-width: 767px) {
  .btn-login {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
}

body {
  font: 400 1.6rem/2.6rem 'Manrope', sans-serif;
  color: #fff;
  background: #00152a;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #fff;
}

.text-styling {
  font-family: 'Gilroy', sans-serif;
}

.text-primary {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

p {
  margin-bottom: 1.5rem;
}

.wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .wrap:before, .wrap:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .wrap:before {
    background: url(../img/elipse.png) 0 -40% repeat-y;
  }
  .wrap:after {
    top: 82rem;
    background: url(../img/elipse-right.png) 100% 0 repeat-y;
  }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (min-width: 1360px) {
  .container {
    max-width: 1256px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.align-atims-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.text-lg {
  font-size: 2.1rem;
  line-height: 3.36rem;
}

@media only screen and (max-width: 767px) {
  .text-lg {
    font-size: 1.9rem;
    line-height: 2.85rem;
  }
}

.text-margin {
  margin: 3rem 0;
}

@media only screen and (max-width: 767px) {
  .text-margin {
    margin: 2.1rem 0;
  }
}

.text-medium {
  font-weight: 500 !important;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .text-center-sm {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .text-center-md {
    text-align: center;
  }
}

.w-100 {
  width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .w-100_sm {
    width: 100% !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.row > * {
  padding-left: 1rem;
  padding-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
}

.d-none, .d-sm-block, .d-md-block, .d-md-flex, .d-sm-flex {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 991px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 1199px) {
  .d-lg-none {
    display: none !important;
  }
}

.title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  line-height: 1;
}

.title_size-sm {
  font-size: 3.4rem;
  line-height: 4.1rem;
}

@media only screen and (max-width: 767px) {
  .title_size-sm {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.title_size-md {
  font-size: 4.4rem;
}

@media only screen and (max-width: 767px) {
  .title_size-md {
    font-size: 3rem;
  }
}

.title_size-lg {
  font-size: 5.4rem;
}

@media only screen and (max-width: 767px) {
  .title_size-lg {
    font-size: 3.8rem;
  }
}

.section {
  margin-bottom: 16rem;
}

@media only screen and (max-width: 991px) {
  .section {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    margin-bottom: 8.4rem;
  }
}

.header {
  padding: 2.4rem 0 2.3rem;
  border-bottom: 1px solid #003364;
  margin-bottom: 4.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .header {
    background: none;
    margin-bottom: 2rem;
    padding: 1.6rem 0 1.5rem;
  }
}

.header__login {
  margin-left: 1.9rem;
}

@media only screen and (max-width: 767px) {
  .header__login {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .header__logo {
    margin-right: auto;
  }
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 767px) {
  .logo {
    margin: 0 auto;
  }
}

.nav {
  margin: 0 auto 0;
}

@media only screen and (min-width: 1200px) {
  .nav#nav {
    display: block !important;
  }
}

@media only screen and (max-width: 1199px) {
  .nav#nav {
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 21, 42, 0.8);
    margin: 0.1rem 0 0;
    position: absolute;
    z-index: 97;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1199px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0;
  }
}

.nav__link {
  margin: 0 1.45rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  font-weight: 700;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media only screen and (max-width: 1199px) {
  .nav__link {
    display: block;
    padding: 1rem 2rem;
    margin: 0;
  }
}

.nav__link_active, .nav__link:hover {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn-menu {
  border: none;
  background: none;
  width: 1.8rem;
  height: 1.4rem;
  margin-right: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/menu.svg) 0 0 no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .preview {
    margin-bottom: 10rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 767px) {
  .preview {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 991px) {
  .preview .btn-circle {
    margin: 0 1.4rem 0 auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media only screen and (max-width: 767px) {
  .preview .btn-circle {
    padding-top: 2.3rem;
  }
}

.preview__text {
  padding-top: 8.5rem;
  font-size: 1.9rem;
  line-height: 2.7rem;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  .preview__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .preview__text {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.preview__text p {
  margin-bottom: 5.9rem;
}

.preview__title {
  margin-bottom: 3.2rem;
}

@media only screen and (max-width: 767px) {
  .preview__title {
    margin: -1.1rem 0 1.6rem;
  }
}

.preview__image {
  margin: -14rem -32% -7.7rem -18.9%;
}

@media only screen and (max-width: 1199px) {
  .preview__image {
    margin: -4rem -32% -7.7rem -19.2%;
  }
}

@media only screen and (max-width: 991px) {
  .preview__image {
    margin: -12rem -34% -46rem -28%;
  }
}

@media only screen and (max-width: 767px) {
  .preview__image {
    margin: -7.1rem -47.1% -38rem -50.1%;
  }
}

@media only screen and (max-width: 375px) {
  .preview__image {
    margin-bottom: -31.9rem;
  }
}

@media only screen and (min-width: 992px) {
  .about__text {
    padding-left: 1rem;
  }
}

.about__image {
  margin: 7.8rem 0 0 1rem;
}

@media only screen and (max-width: 991px) {
  .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5.1rem 0 0;
  }
}

.title-wrap {
  margin: 5.4rem 0 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .title-wrap {
    padding-right: 5%;
  }
}

@media only screen and (max-width: 767px) {
  .title-wrap {
    margin: 0 0 1.7rem;
  }
}

.title-wrap_margin {
  margin-top: 7.4rem;
}

.title-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #00284E;
  margin: -0.1rem -1.5rem 0 -5.4rem;
  padding-left: 0.6rem;
}

@media only screen and (max-width: 1199px) {
  .title-before {
    width: 9.6rem;
    height: 9.6rem;
    margin: -0.1rem -1.5rem 0 -3rem;
  }
}

@media only screen and (max-width: 767px) {
  .title-before {
    margin: -0.1rem -0.9rem 0 -4.2rem;
    padding-left: 0.4rem;
  }
  .title-before img {
    width: 1.9rem;
    height: 1.9rem;
  }
}

.for__image {
  margin: -17.5rem -37.2% -21rem -30.2%;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .for__image {
    margin-top: -11rem;
  }
}

@media only screen and (max-width: 991px) {
  .for__image {
    margin: -11rem -20% -21rem;
  }
}

@media only screen and (max-width: 767px) {
  .for__image {
    margin: -6.5rem -48.9% -21.1rem -45.4%;
  }
}

.for__btn {
  position: absolute;
  left: 18.1%;
  bottom: 21.6%;
}

@media only screen and (max-width: 767px) {
  .for__btn {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 3rem auto 0.6rem;
    width: 13.6rem;
    padding: 0;
  }
  .for__btn .btn-circle:not(:hover) {
    -webkit-box-shadow: 0px 0px 80px rgba(34, 57, 105, 0.4);
            box-shadow: 0px 0px 80px rgba(34, 57, 105, 0.4);
  }
  .for__btn .circle_sm {
    top: -3.2rem;
    bottom: -3.2rem;
    left: -3.2rem;
    right: -3.2rem;
  }
  .for__btn .circle_md {
    top: -7.8rem;
    bottom: -7.8rem;
    left: -7.8rem;
    right: -7.8rem;
  }
  .for__btn .circle_lg {
    top: -11.8rem;
    bottom: -11.8rem;
    left: -11.8rem;
    right: -11.8rem;
  }
}

.advantages {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .advantages {
    margin: 0;
  }
}

.advantages:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -6.4rem;
  background: url(../img/bg-advantages.png) 50% 0 no-repeat;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .advantages:before {
    top: 0;
    background-position: 50% 50%;
    left: -2rem;
    right: -2rem;
  }
}

.advantages__title {
  line-height: 5.3rem;
  margin-top: -0.5rem;
}

@media only screen and (max-width: 767px) {
  .advantages__title {
    margin: 0 0 4.2rem;
  }
}

.advantages__item {
  display: block;
  margin: 0 1rem 2rem;
  background: #012547;
  -webkit-box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
          box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
  border-radius: 30px;
  width: 27.43%;
  padding: 2.6rem 2.5rem 2.4rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.advantages__item:hover {
  background: #05386d;
}

.advantages__item_large {
  width: 38%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .advantages__item_large:first-of-type {
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  .advantages__item {
    min-width: 47%;
  }
}

@media only screen and (max-width: 767px) {
  .advantages__item {
    width: 100%;
    margin: 0 0 2rem;
    background: rgba(0, 51, 100, 0.6);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 24px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 2rem;
    margin-bottom: 1.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .advantages__item_margin {
    margin-bottom: 0.8rem;
  }
}

.advantages__item-title {
  line-height: 2.9rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .advantages__item-title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.1rem;
  }
}

.examples {
  margin: 12.9rem 0 15.9rem;
}

@media only screen and (max-width: 991px) {
  .examples {
    margin: 9.5rem 0 9.9rem;
  }
}

.examples__wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1199px) {
  .examples__wrap-btn {
    margin: auto;
  }
}

@media only screen and (max-width: 375px) {
  .examples__wrap-btn {
    margin: 0 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .examples .title {
    line-height: 3.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .examples .row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .examples .row > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.nav-tab {
  margin: 4.7rem 0 4rem;
  border-bottom: 1px solid #003364;
  padding-right: 5rem;
}

@media only screen and (max-width: 767px) {
  .nav-tab {
    margin: 3.9rem 0 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .nav-tab {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-right: 0;
  }
}

.nav-tab .slick-list {
  margin-bottom: -0.1rem;
}

@media only screen and (max-width: 767px) {
  .nav-tab .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-tab .slick-track:before, .nav-tab .slick-track:after {
    display: none;
  }
}

.nav-tab__link {
  display: block;
  min-width: 13rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 2.2rem;
  padding: 2.7rem 1rem;
  position: relative;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media only screen and (max-width: 767px) {
  .nav-tab__link {
    font-size: 1.4rem;
    line-height: 1.9rem;
    min-width: 1rem;
    padding: 2.2rem 0;
  }
}

.nav-tab__link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0;
  right: 0;
  border-radius: 3px;
  height: 0.2rem;
}

.nav-tab__link:hover, .nav-tab__link.active {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav-tab__link:hover:before, .nav-tab__link.active:before {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
}

.slick-disabled {
  opacity: 0;
}

.slick-arrow {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  font-size: 0;
  background: #00284E;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  border: none;
  z-index: 5;
  -webkit-box-shadow: 10px 0px 20px #03182F;
          box-shadow: 10px 0px 20px #03182F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.3rem;
}

.slick-arrow:before {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/play.svg) 0 0 no-repeat;
  background-size: contain;
}

.slick-arrow.slick-next {
  left: auto;
  right: 0;
}

.slick-arrow.slick-prev {
  padding: 0 0.3rem 0 0;
}

.slick-arrow.slick-prev:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow:hover {
  background: #08447D;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1199px) {
  .examples-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[auto];
        grid-template-rows: repeat(auto, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .examples-col-1 {
    width: 21%;
  }
  .examples-col-2 {
    width: 37%;
  }
  .examples-col-3 {
    width: 42%;
  }
}

.example-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #003364;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
  .example-item {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .example-item {
    min-height: 15.5rem;
    max-height: 32rem;
    border-radius: 24px;
    margin-bottom: 1rem;
  }
}

.example-item:before, .example-item:after {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: linear-gradient(171.25deg, rgba(0, 21, 41, 0) 50%, rgba(0, 21, 41, 0.8) 93.33%);
}

.example-item:after {
  opacity: 0;
  background: linear-gradient(171.25deg, rgba(112, 129, 246, 0) 50%, #6F83F6 93.33%);
}

.example-item:hover {
  -webkit-box-shadow: 0px 0px 80px rgba(49, 197, 249, 0.2);
          box-shadow: 0px 0px 80px rgba(49, 197, 249, 0.2);
  background: #7081F6;
}

.example-item:hover:before {
  opacity: 0;
}

.example-item:hover:after {
  opacity: 1;
}

.example-item:hover .example-item__btn {
  opacity: 1;
}

.example-item__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

@media only screen and (max-width: 767px) {
  .example-item__image {
    border-radius: 24px;
  }
}

.example-item__title {
  font: 700 1.9rem/2.7rem 'Gilroy', sans-serif;
  position: absolute;
  bottom: 2.3rem;
  left: 2.5rem;
  right: 2.5rem;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .example-item__title {
    font-size: 1.4rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    line-height: 1.7rem;
  }
}

.example-item__btn {
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 0;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.6rem;
  margin: auto;
}

.example-item__btn:before {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/play.svg) 0 0 no-repeat;
  background-size: contain;
}

.wrap-btn {
  margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .wrap-btn {
    margin-top: -0.1rem;
  }
}

.btn-collapse {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-collapse:hover {
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
}

.btn-collapse:hover .caret {
  background-image: url(../img/caret-white.svg);
}

.btn-collapse.active {
  -webkit-box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 40px rgba(68, 176, 248, 0.4);
}

.btn-collapse.active:before {
  opacity: 0;
}

.btn-collapse.active .caret {
  margin-top: -0.2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url(../img/caret-white.svg);
}

.caret {
  width: 1rem;
  height: 1rem;
  margin: 0.3rem 0.2rem 0 1.5rem;
  background: url(../img/caret.svg) 0 0 no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .caret {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.2rem 0 0 0.8rem;
  }
}

.steps__wrap-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 4.2rem;
}

.icon-hand {
  margin: 0 0.4rem 0 -0.1rem;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6rem 0 5.7rem;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .steps-list {
    padding-right: 2%;
  }
}

@media only screen and (max-width: 991px) {
  .steps-list {
    margin: -2rem -2rem 0;
    padding: 0 1rem;
  }
}

.steps-list:before {
  content: '';
  display: block;
  position: absolute;
  left: -1000%;
  right: 0;
  top: 6.9rem;
  height: 25.3rem;
  border: 1px solid #7081F6;
  border-left: none;
  border-radius: 0px 10000px 10000px 0px;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .steps-list:before {
    top: 9.7rem;
    right: -100%;
    border-bottom: none;
    border-radius: 0;
    border-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .step-item {
    width: 25%;
    padding-right: 2rem;
    margin-bottom: 8.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .step-item {
    padding: 2.9rem 1.5rem 0 1rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.step-item__num {
  color: transparent;
  -webkit-text-fill-color: transparent;
  font: 700 3rem/4.8rem 'Gilroy', sans-serif;
}

.step-item:nth-of-type(1) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.15);
}

.step-item:nth-of-type(2) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.25);
}

.step-item:nth-of-type(3) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.4);
}

.step-item:nth-of-type(4) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.55);
}

.step-item:nth-of-type(5) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.7);
}

.step-item:nth-of-type(6) .step-item__num {
  -webkit-text-stroke: 1px rgba(111, 131, 246, 0.85);
}

.step-item:nth-of-type(7) .step-item__num {
  -webkit-text-stroke: 1px #6f83f6;
}

.step-item__icon {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/step.svg) 0 0 no-repeat;
  background-size: contain;
  margin: 1.3rem 0 2.2rem 0.4rem;
}

@media only screen and (max-width: 767px) {
  .step-item__icon {
    margin: 1.3rem 0 2.3rem 0.6rem;
  }
}

.step-item .btn-circle {
  margin-top: -4.2rem;
  line-height: 2.5rem;
}

.step-item .btn-circle:not(:hover) {
  -webkit-box-shadow: 0px 0px 80px rgba(68, 176, 248, 0.2);
          box-shadow: 0px 0px 80px rgba(68, 176, 248, 0.2);
}

@media only screen and (max-width: 767px) {
  .step-item .btn-circle {
    margin: -0.9rem 0 0;
    width: 15.5rem;
    height: 15.5rem;
    line-height: 1.6rem;
  }
  .step-item .btn-circle:not(:hover) {
    -webkit-box-shadow: 0px 0px 25px rgba(68, 176, 248, 0.4);
            box-shadow: 0px 0px 25px rgba(68, 176, 248, 0.4);
  }
}

@media only screen and (max-width: 767px) {
  .faq {
    margin-top: 8.3rem;
  }
}

.faq__image {
  margin: -83px -43% 0 -48.1%;
}

@media only screen and (max-width: 991px) {
  .faq__title {
    margin-bottom: 5rem;
  }
}

.faq-item {
  background: #042a4e;
  -webkit-box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
          box-shadow: 0px 0px 250px rgba(83, 159, 247, 0.2);
  margin: 0.1rem 0 1rem;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.faq-item.open {
  background: #063a6c;
}

.faq-item__link {
  position: relative;
  font: 600 2.1rem/2.9rem 'Gilroy', sans-serif;
  display: block;
  padding: 3rem 4.7rem 3rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .faq-item__link {
    padding: 2rem 4.7rem 2rem 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
    min-height: 8.8rem;
  }
}

.faq-item__link:hover .faq-item__text {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.faq-item__link:hover .text-primary {
  background: none;
}

.faq-item__link[aria-expanded="true"] .faq-item__text {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.faq-item__link[aria-expanded="true"] .text-primary {
  background: none;
}

.faq-item__link[aria-expanded="true"] .faq-item__icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.faq-item__link[aria-expanded="true"] .faq-item__icon path {
  fill: #7081F6;
}

.faq-item__icon {
  position: absolute;
  right: 3.7rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 767px) {
  .faq-item__icon {
    right: 2.4rem;
  }
}

.faq-item__body {
  border-top: 1px solid #024B92;
  padding: 2rem 0 1.5rem;
  margin: 0 2.5rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

@media only screen and (max-width: 767px) {
  .faq-item__body {
    margin: 0 2rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
    padding: 1.9rem 0 0.7rem;
  }
}

.start {
  background: url(../img/bg-start.png) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 60px;
  padding: 5.2rem 6rem 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10.6rem 0 15.9rem;
}

@media only screen and (max-width: 991px) {
  .start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../img/bg-start-md.png);
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .start {
    margin: 9.1rem 0 7.8rem;
    border-radius: 24px;
    padding: 3.8rem 0 0;
  }
  .start .text-lg {
    font-size: 1.8rem;
  }
}

.start__text {
  padding-top: 0.8rem;
  width: 36%;
  margin-right: 3.9%;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 991px) {
  .start__text {
    width: 100%;
    margin: 0 0 1.6rem;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .start__text {
    padding: 0 1.5rem;
  }
}

.start__title {
  line-height: 5.3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.05rem #fff;
  -webkit-text-stroke: 1px #fff;
  margin-bottom: 3.1rem;
}

@media only screen and (max-width: 767px) {
  .start__title {
    line-height: 3.6rem;
    margin-bottom: 2.1rem;
  }
}

.start__btn {
  position: relative;
  z-index: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 1199px) {
  .start__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 767px) {
  .start__btn .btn-circle {
    width: 17.9rem;
    height: 17.9rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.start__image {
  position: absolute;
  right: 3.5%;
  bottom: 0;
  width: 30%;
  z-index: 2;
}

@media only screen and (max-width: 991px) {
  .start__image {
    position: static;
    width: auto;
    margin: 2.38rem 0 0  -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 375px) {
  .start__image {
    border-bottom-right-radius: 24px;
    overflow: hidden;
  }
}

.text-fill {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 0;
}

.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid #7081F6;
  opacity: 0.2;
}

.circle_sm {
  top: -5.1rem;
  bottom: -5.1rem;
  left: -5.1rem;
  right: -5.1rem;
}

@media only screen and (max-width: 767px) {
  .circle_sm {
    top: -4.2rem;
    bottom: -4.2rem;
    left: -4.2rem;
    right: -4.2rem;
  }
}

.circle_md {
  top: -12.6rem;
  bottom: -12.6rem;
  left: -12.6rem;
  right: -12.6rem;
}

@media only screen and (max-width: 767px) {
  .circle_md {
    top: -10.2rem;
    bottom: -10.2rem;
    left: -10.2rem;
    right: -10.2rem;
  }
}

.circle_lg {
  top: -19rem;
  bottom: -19rem;
  left: -19rem;
  right: -19rem;
}

@media only screen and (max-width: 767px) {
  .circle_lg {
    top: -15.4rem;
    bottom: -15.4rem;
    left: -15.4rem;
    right: -15.4rem;
  }
}

.footer {
  margin-top: auto;
  border-top: 1px solid #003364;
  padding: 4rem 0 4.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@media only screen and (min-width: 992px) {
  .footer {
    background: url(../img/bg-footer.png) 50% 100% no-repeat;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 2.4rem 0 2.2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.footer__logo {
  width: 17.3rem;
  margin-bottom: 1.6rem;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    width: 15rem;
    margin-bottom: 0.7rem;
  }
}

.footer__title {
  font: 600 1.6rem/2.1rem 'Gilroy', sans-serif;
  margin-bottom: 3.9rem;
  color: #023769;
}

@media only screen and (max-width: 767px) {
  .footer__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 2.1rem;
  }
}

.footer__social-list {
  margin: 6rem -1rem 0 auto;
}

@media only screen and (max-width: 767px) {
  .footer__social-list {
    margin: -0.4rem -0.6rem 0 auto;
  }
}

@media only screen and (max-width: 991px) {
  .footer__slogan {
    margin-bottom: 1.9rem;
  }
}

.copyright {
  color: #003364;
  margin-top: -3.9rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 991px) {
  .copyright {
    margin-top: 1.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .copyright {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.footer-nav__item {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .footer-nav__item {
    margin-bottom: 1.6rem;
  }
}

.footer-nav__link {
  font-weight: 500;
}

.footer-nav__link:hover {
  background: linear-gradient(45deg, #7081F6 0%, #31C5F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.social-list__link {
  margin: 0 1rem;
  -webkit-box-shadow: 0px 0px 20px rgba(68, 176, 248, 0.4);
          box-shadow: 0px 0px 20px rgba(68, 176, 248, 0.4);
}

@media only screen and (max-width: 767px) {
  .social-list__link {
    margin: 0 0.6rem;
  }
}

.partner-preview {
  font-size: 1.9rem;
  line-height: 2.7rem;
}

@media only screen and (max-width: 767px) {
  .partner-preview {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.partner-preview__title {
  margin-bottom: 3.2rem;
  position: relative;
  z-index: 1;
  padding: 5.5rem 18% 0;
}

@media only screen and (max-width: 767px) {
  .partner-preview__title {
    padding: 2.5rem 0 2rem;
    margin: 0;
  }
}

.partner-preview__title:before, .partner-preview__title:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.partner-preview__title:before {
  top: -5.5rem;
  left: 9.2%;
  width: 19.7rem;
  height: 18.5rem;
  background-image: url(../img/partner-preview-before.svg);
}

@media only screen and (max-width: 767px) {
  .partner-preview__title:before {
    width: 13.7rem;
    height: 12.5rem;
    top: -6.5rem;
    left: -14%;
  }
}

.partner-preview__title:after {
  top: 4.5rem;
  right: 4.3%;
  width: 19.8rem;
  height: 18.0rem;
  background-image: url(../img/partner-preview-after.svg);
}

@media only screen and (max-width: 767px) {
  .partner-preview__title:after {
    width: 13rem;
    height: 11.7rem;
    top: 34%;
    right: -17.1%;
  }
}

.partner-preview p {
  margin-bottom: 5.9rem;
}

@media only screen and (max-width: 767px) {
  .partner-preview p {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .partner-for {
    margin-top: 9.9rem;
  }
}

.partner-for__image {
  margin: -17.6rem -43.4% -40.4rem -39.7%;
}

@media only screen and (max-width: 991px) {
  .partner-for__image {
    margin: -17rem -42.5% -12.2rem -41.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  .partner-for__image img {
    max-width: 51.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .partner-for__image img {
    max-width: 100%;
  }
}

.partner-for__text {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (min-width: 992px) {
  .partner-for__text {
    margin-bottom: -2.5rem;
  }
}

@media only screen and (min-width: 1250px) {
  .partner-for__text {
    padding-right: 5%;
  }
}

@media only screen and (max-width: 767px) {
  .partner-for__text {
    margin-bottom: 0.5rem;
  }
}

.partner-for__title {
  margin: 6.1rem 0;
}

.partner-advantages {
  padding-top: 0.4rem;
  margin-bottom: 15rem;
}

@media only screen and (max-width: 767px) {
  .partner-advantages {
    padding-top: 1.5rem;
    margin-bottom: 8.7rem;
  }
}

.partner-advantages__title {
  margin-bottom: 6.4rem;
}

@media only screen and (max-width: 767px) {
  .partner-advantages__title {
    line-height: 3.6rem;
    margin-bottom: 5.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .partner-advantages .advantages {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.partner-advantages .advantages:before {
  display: none;
}

.partner-advantages__item {
  margin: 0 0 1.2rem;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .partner-advantages__item {
    line-height: 2.3rem;
    padding-right: 1.5rem;
  }
}

.partner-advantages__item .advantages__item-title {
  line-height: 2.7rem;
}

.advantages__item-logo {
  margin-bottom: 2.1rem;
}

@media only screen and (max-width: 767px) {
  .advantages__item-logo {
    margin-bottom: 2rem;
  }
}

.partner-steps {
  font-size: 1.8rem;
  line-height: 2.9rem;
  margin: 5.9rem 0 7.8rem;
}

@media only screen and (max-width: 767px) {
  .partner-steps {
    margin-bottom: 7rem;
  }
}

.partner-steps .steps__wrap-btn {
  margin-top: 2.3rem;
}

.partner-steps__title {
  margin-bottom: -0.1rem;
}

@media only screen and (min-width: 992px) {
  .partner-steps__title {
    line-height: 5.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .partner-steps-list {
    margin-top: -1.9rem;
  }
}

.partner-steps-list:before {
  right: -1000%;
  height: 0;
  border-radius: 0;
  border-bottom: none;
}

.partner-start {
  font-size: 1.8rem;
  line-height: 2.9rem;
  border-radius: 60px;
  margin-bottom: 12rem;
  padding: 6rem 6rem 4.5rem;
  background: #7081F6 url(../img/bg-partner-start.png) 0 0 repeat;
}

@media only screen and (max-width: 767px) {
  .partner-start {
    border-radius: 24px;
    padding: 3.9rem 2rem 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 9.9rem;
  }
  .partner-start p {
    margin-bottom: 2rem;
  }
}

.partner-start__title {
  margin-bottom: 3.9rem;
}

@media only screen and (max-width: 767px) {
  .partner-start__title {
    margin-bottom: 2.1rem;
  }
}

.partner-start__text {
  width: 73.5%;
  margin-right: 2rem;
}

@media only screen and (max-width: 767px) {
  .partner-start__text {
    width: 100%;
    margin: 0 0 2rem;
  }
}

.partner-start__btn {
  margin: 2rem 0 0 auto;
}

@media only screen and (max-width: 767px) {
  .partner-start__btn {
    margin: 0 auto;
  }
}

.partner-start__btn .circle {
  opacity: 0.4rem;
  border-color: #fff;
}

.partner-start__btn .circle_md {
  opacity: 0.2;
}

.partner-start__btn .circle_lg {
  opacity: 0.1;
}

.partner-start__btn .btn-circle:not(:hover) {
  -webkit-box-shadow: 0px 0px 80px rgba(84, 100, 211, 0.8);
          box-shadow: 0px 0px 80px rgba(84, 100, 211, 0.8);
}
