@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #000 !important;
}

::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #000 !important;
}

:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #000 !important;
}

:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #000 !important;
}

:focus::-webkit-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label, input:not([type="checkbox"]),
input:not([type="radio"]), button {
  -webkit-appearance: none;
  font-family: inherit;
}

label, input[type="submit"], button {
  cursor: pointer;
}

img {
  border: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

button:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover::-webkit-outer-spin-button,
input:hover::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

/* @include transform-translate(#, #); */
/* @include transform-translateY(#); */
/* @include transform-translateX(#); */
/* @include transform-translate3d(#, #, #); */
/* @include transform-rotate(#); */
/* @include transform-scale(#); */
/* @include animation(#); */
/* @include animation-delay(#); */
/* @include animation-duration(#); */
/* @include animation-fill-mode(#); */
/* @include animation-name(#); */
/* @include transition(#); */
/* @include transition-transform(#, #); */
/* @include transition-transform-cubic-bezier(#, #, #, #, #); */
/* @include transition-timing-function(#); */
/* @include transition-duration(#); */
/* @include transition-delay(#); */
/* @include backface-visibility(#); */
/* @include transition-opacity-visibility(#, #); */
/* @include transition-opacity(#); */
/* @include box-shadow(#); */
/* @include opacity(#); */
/* @include border-radius(#); */
/* @include border_b_l-radius(#); */
/* @include border_b_r-radius(#); */
/* @include border_t_r-radius(#); */
/* @include border_t_l-radius(#); */
/* @include box-sizing(#); */
/* @include user-select(#); */
/* @include filter-blur-brightness(#, #); */
/* @include filter-img(#, #); */
/* @include filter(#); */
/* @include box-sizing(#, #(0)); */
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade {
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal__close {
  position: absolute;
  top: 3.1rem;
  right: 3.9rem;
  font-size: 3.4rem;
  color: #7F74D0;
  font-weight: 500;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: none;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__close_sm {
  top: 0.5rem;
  right: 2rem;
}

@media only screen and (max-width: 767px) {
  .modal__close {
    top: 0.5rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .modal .container {
    padding: 0;
  }
}

.modal-dialog {
  position: relative;
  pointer-events: none;
  margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
  .modal-dialog {
    width: auto;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .modal-dialog_sm {
    max-width: 69rem;
  }
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background: #252525;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  pointer-events: auto;
  background: #F1F1F1;
  border-radius: 12px;
  padding: 3.2rem 4rem 4rem;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .modal-content {
    padding: 3rem 2rem 4rem;
  }
}

.modal-content p {
  margin-bottom: 3.1rem;
}

.modal-content__btn {
  margin-bottom: -7.5rem;
}

.modal-content__form {
  width: 39rem;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 100%;
  margin: 0.8rem 0 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 30px rgba(45, 45, 45, 0.18);
          box-shadow: 0px 12px 30px rgba(45, 45, 45, 0.18);
  border-radius: 6px;
}

.dropdown-menu_right {
  inset: 100% 0 auto auto !important;
}

.dropdown-menu_left {
  inset: 100% auto auto 0 !important;
}

.dropdown-menu_nav {
  -webkit-box-shadow: 0px 3px 10px rgba(45, 45, 45, 0.18);
          box-shadow: 0px 3px 10px rgba(45, 45, 45, 0.18);
  min-width: 28.6rem;
  margin: 0 !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.dropdown-menu__link {
  font-size: 1.4rem;
  line-height: 2.8rem;
  display: block;
  padding: 1.2rem 1.6rem;
}

@media only screen and (max-width: 991px) {
  .dropdown-menu__link {
    padding: 1rem 2rem 1rem 3rem;
  }
}

.dropdown-menu__link.active {
  background: #ECF3EA;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: 0 2rem 0 0;
  position: relative;
  padding-right: 2.5rem;
}

.dropdown-toggle::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  top: 0.1rem;
  right: 1.5rem;
  background: url(../img/icons/caret.svg) no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.dropdown-toggle.show::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-toggle_inversion::before {
  background-image: url(../img/icons/caret-inversion.svg);
}

.icon {
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: 0 0;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-map {
  width: 1.2rem;
  height: 1.4rem;
  background-image: url(../img/icons/map.svg);
}

.icon-email {
  width: 1.5rem;
  height: 1.1rem;
  background-image: url(../img/icons/email.svg);
}

.icon-phone {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/icons/phone.svg);
}

.icon-ins {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.icon-ins:hover:before {
  opacity: 0;
}

.icon-ins:hover:after {
  opacity: 1;
}

.icon-ins:before, .icon-ins:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-ins:before {
  background-image: url(../img/icons/ins.svg);
}

.icon-ins:after {
  opacity: 0;
  background-image: url(../img/icons/ins-primary.svg);
}

a:hover > .icon-ins:before, .active > .icon-ins:before {
  opacity: 0;
}

a:hover > .icon-ins:after, .active > .icon-ins:after {
  opacity: 1;
}

.icon-fb {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.icon-fb:hover:before {
  opacity: 0;
}

.icon-fb:hover:after {
  opacity: 1;
}

.icon-fb:before, .icon-fb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-fb:before {
  background-image: url(../img/icons/fb.svg);
}

.icon-fb:after {
  opacity: 0;
  background-image: url(../img/icons/fb-primary.svg);
}

a:hover > .icon-:before, .active > .icon-:before {
  opacity: 0;
}

a:hover > .icon-:after, .active > .icon-:after {
  opacity: 1;
}

.icon-prev {
  width: 1.9rem;
  height: 1.5rem;
  position: relative;
}

.icon-prev:hover:before {
  opacity: 0;
}

.icon-prev:hover:after {
  opacity: 1;
}

.icon-prev:before, .icon-prev:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-prev:before {
  background-image: url(../img/icons/prev.svg);
}

.icon-prev:after {
  opacity: 0;
  background-image: url(../img/icons/prev-inversion.svg);
}

a:hover > .icon-prev:before, .active > .icon-prev:before {
  opacity: 0;
}

a:hover > .icon-prev:after, .active > .icon-prev:after {
  opacity: 1;
}

.icon-next {
  width: 1.9rem;
  height: 1.5rem;
  position: relative;
}

.icon-next:hover:before {
  opacity: 0;
}

.icon-next:hover:after {
  opacity: 1;
}

.icon-next:before, .icon-next:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-next:before {
  background-image: url(../img/icons/next.svg);
}

.icon-next:after {
  opacity: 0;
  background-image: url(../img/icons/next-inversion.svg);
}

a:hover > .icon-next:before, .active > .icon-next:before {
  opacity: 0;
}

a:hover > .icon-next:after, .active > .icon-next:after {
  opacity: 1;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8rem;
  padding: 2.5rem 3.78rem;
  line-height: 2rem;
  font-weight: 500;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: none;
  position: relative;
  z-index: 1;
  min-width: 28.5rem;
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 8px;
}

.btn:before {
  left: 1.2rem;
  right: 1.2rem;
}

.btn:disabled, .btn.disabled {
  cursor: default;
  pointer-events: none;
  background: #b2b2b2;
  color: gray;
}

.btn_primary {
  color: #fff;
}

.btn_primary:before {
  -webkit-box-shadow: 0px 5px 20px rgba(111, 96, 221, 0.4);
          box-shadow: 0px 5px 20px rgba(111, 96, 221, 0.4);
}

.btn_primary:after {
  background: #7F74D0;
}

.btn_primary:hover {
  color: #fff;
}

.btn_primary:hover:after {
  background: #574ca8;
}

.btn_primary:hover:before {
  -webkit-box-shadow: 0px 5px 20px rgba(87, 76, 168, 0.7);
          box-shadow: 0px 5px 20px rgba(87, 76, 168, 0.7);
}

.btn_inversion:before {
  -webkit-box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.35);
          box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.35);
}

.btn_inversion:after {
  background: #fff;
}

.btn_inversion:hover {
  color: #fff;
}

.btn_inversion:hover:after {
  background: #7F74D0;
}

.btn_inversion:hover:before {
  -webkit-box-shadow: 0px 5px 20px rgba(127, 116, 208, 0.7);
          box-shadow: 0px 5px 20px rgba(127, 116, 208, 0.7);
}

.btn_light:before {
  -webkit-box-shadow: 0px 5px 10px rgba(206, 206, 206, 0.7);
          box-shadow: 0px 5px 10px rgba(206, 206, 206, 0.7);
}

.btn_light:after {
  background: #D3CAFF;
}

.btn_light:hover {
  color: #fff;
}

.btn_light:hover:after {
  background: #574ca8;
}

.btn_light:hover:before {
  -webkit-box-shadow: 0px 5px 10px rgba(87, 76, 168, 0.7);
          box-shadow: 0px 5px 10px rgba(87, 76, 168, 0.7);
}

.btn_size-md {
  min-width: 27.634rem;
}

a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #7F74D0;
}

p {
  margin-bottom: 5.1rem;
}

@media only screen and (max-width: 991px) {
  p {
    margin-bottom: 3rem;
  }
}

.title_size-xs {
  font-size: 1.9rem;
  line-height: 3.2rem;
}

.title_size-sm {
  font-size: 2rem;
  line-height: 3.2rem;
}

.title_size-md {
  font-size: 3.4rem;
  line-height: 4.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .title_size-md {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.title_size-lg {
  font-size: 4.6rem;
  line-height: 5.6rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .title_size-lg {
    font-size: 3.5rem;
    line-height: 4.3rem;
  }
}

.title_after {
  position: relative;
}

.title_after:before {
  content: '';
  display: block;
  height: 1rem;
  width: 10.5rem;
  background: rgba(127, 116, 208, 0.1);
  position: absolute;
  top: 2.8rem;
  left: 0.1rem;
}

.title_margin-bottom-sm {
  margin-bottom: 2.2rem;
}

@media only screen and (max-width: 767px) {
  .title_margin-bottom-sm {
    margin-bottom: 1.6rem;
  }
}

.title_margin-bottom-md {
  margin-bottom: 3.2rem;
}

@media only screen and (max-width: 767px) {
  .title_margin-bottom-md {
    margin-bottom: 1.8rem;
  }
}

.title_margin-bottom-lg {
  margin-bottom: 4.1rem;
}

@media only screen and (max-width: 767px) {
  .title_margin-bottom-lg {
    margin-bottom: 2rem;
  }
}

.text_inversion {
  color: #fff;
}

.text_primary {
  color: #7F74D0;
}

.text_danger {
  color: #F33B3B;
}

.text_light {
  color: #949494;
}

.text_warning {
  color: #F0C000;
}

.text_success {
  color: #00A200;
}

.text_normal {
  font-weight: 400;
}

.text_mediumbold {
  font-weight: 500;
}

.text_semibold {
  font-weight: 600;
}

.text_bold {
  font-weight: 700;
}

.text_center {
  text-align: center;
}

a.text_primary:hover {
  color: #4d429e;
}

.link_underline {
  text-decoration: underline;
}

.link_underline:hover {
  text-decoration: none;
}

body {
  font: 400 1.8rem/3.2rem 'Montserrat', sans-serif;
  color: #000;
  background: #F1F1F1;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.wrap {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.w-100 {
  width: 100% !important;
}

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.row > * {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .row_lg {
    margin-left: -2.6rem;
    margin-right: -2.6rem;
  }
  .row_lg > * {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

.swiper-nav .swiper-arrow {
  margin: 0 1rem;
}

.swiper-arrow {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;
}

@media only screen and (max-width: 767px) {
  .swiper-arrow {
    width: 4rem;
    height: 4rem;
  }
}

.swiper-arrow:hover {
  background: #7F74D0;
}

.header {
  background: #000;
  color: #fff;
  padding-bottom: 1.4rem;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 0;
  }
}

.header__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2.7rem 0 2.5rem;
  font-size: 1.7rem;
  line-height: 2.1rem;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 991px) {
  .header__top {
    margin: 0;
    border: none;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1399px) {
  .header__phones {
    margin-left: auto;
  }
}

.header__address {
  margin-right: 3.9rem;
}

@media only screen and (max-width: 1399px) {
  .header__address {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .header__address {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 2rem 0 0.5rem;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .header__address {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1199px) {
  .header__logo {
    width: 12rem;
  }
}

@media only screen and (max-width: 991px) {
  .header__logo {
    width: 10rem;
  }
}

.phone {
  font-size: 2.3rem;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .phone {
    font-size: 2rem;
  }
}

.phone + .phone {
  margin-left: 2.9rem;
}

@media only screen and (max-width: 1199px) {
  .phone + .phone {
    margin: 0.5rem 0 0;
  }
}

.language-list {
  margin: 0 -0.2rem 0 auto;
}

@media only screen and (max-width: 1399px) {
  .language-list {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .language-list {
    margin: 1.5rem 0 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.language-list__link:not(:first-child) {
  margin-left: 1.5rem;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0.3rem;
}

.logo:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 991px) {
  .nav#nav {
    position: relative;
  }
  .nav#nav:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.nav-list {
  margin-top: -0.7rem;
}

@media only screen and (max-width: 991px) {
  .nav-list {
    margin: 0 -1.5rem !important;
  }
  .nav-list:first-of-type {
    padding-top: 1rem;
  }
}

.nav-list.ms-auto .nav-list__item {
  margin-right: 5.5rem;
}

@media only screen and (max-width: 1199px) {
  .nav-list.ms-auto .nav-list__item {
    margin-right: 2rem;
  }
}

.nav-list.ms-auto .nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__item {
  margin-right: 3.1rem;
}

@media only screen and (max-width: 1199px) {
  .nav-list__item {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .nav-list__item {
    margin: 0 !important;
  }
}

.nav-list__link {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
}

.nav-list__link.active {
  color: #7F74D0;
}

@media only screen and (max-width: 1399px) {
  .nav-list__link {
    font-size: 1.7rem;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1199px) {
  .nav-list__link {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 991px) {
  .nav-list__link {
    font-size: 1.8rem;
    display: block;
    line-height: 2.6rem;
    padding: 1.5rem 2rem !important;
  }
}

.btn-menu {
  display: block;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.btn-menu__item {
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  border-top-style: 5px;
  background: #F0C000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-menu__item + .btn-menu__item {
  margin-top: 0.5rem;
}

.preview {
  background: url(../img/bg-preview.jpg) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  padding: 18.7rem 0 28.4rem;
  z-index: 1;
}

@media only screen and (max-width: 1399px) {
  .preview {
    background-position: 75%  50%;
  }
}

@media only screen and (max-width: 1199px) {
  .preview {
    padding: 10rem 0 25rem;
  }
}

@media only screen and (max-width: 767px) {
  .preview {
    padding-bottom: 10rem;
  }
}

.preview__text {
  max-width: 62rem;
  padding: 0 1.9rem;
}

@media only screen and (min-width: 768px) {
  .preview__text {
    font-size: 2.2rem;
    line-height: 3.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .preview__text {
    padding: 0;
  }
}

.preview__title {
  margin-bottom: 1.7rem;
}

.preview__video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.preview__video:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .7;
}

.preview__video video {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  font-family: inherit;
  display: block;
  border: 1px solid #636363;
  border-radius: 5px;
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  color: #000;
  background: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-control.has-error {
  border-color: #F33B3B;
}

.form-control.has-error::-webkit-input-placeholder {
  color: #F33B3B !important;
}

.form-control.has-error::-moz-placeholder {
  color: #F33B3B !important;
}

.form-control.has-error:-moz-placeholder {
  color: #F33B3B !important;
}

.form-control.has-error:-ms-input-placeholder {
  color: #F33B3B !important;
}

.form-control:disabled {
  background: #E8E8E8;
  border-color: #E8E8E8;
}

.form-control_border {
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 0;
  padding: 2rem 0;
  border: none;
  border-bottom: 2px solid #000;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}

.form-control_border.dropdown-toggle::before {
  right: 0;
}

.form-control_inversion {
  color: #fff;
  border-color: #fff;
}

.form-control_inversion::-webkit-input-placeholder {
  color: #fff !important;
}

.form-control_inversion::-moz-placeholder {
  color: #fff !important;
}

.form-control_inversion:-moz-placeholder {
  color: #fff !important;
}

.form-control_inversion:-ms-input-placeholder {
  color: #fff !important;
}

.form-control_inversion:hover {
  color: #fff;
}

.form.has-error {
  border-color: #F33B3B;
  color: #F33B3B;
}

textarea.form-control {
  min-height: 10rem;
  resize: vertical;
}

.fake-select {
  position: relative;
}

.fake-select__info {
  display: inline-block;
  margin-left: 1.2rem;
}

.fake-select__item {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #000;
  padding: 1.5rem 2rem;
  font-weight: 500;
}

.fake-select__item:hover, .fake-select__item.fake-select__item_active {
  color: #7F74D0;
}

.fake-select__link {
  white-space: nowrap;
}

.form-section {
  margin-top: -11.8rem;
  position: relative;
  z-index: 2;
  background: #7F74D0;
  border-radius: 12px;
  padding: 3.1rem 6.9rem 0.3rem;
}

@media only screen and (max-width: 1199px) {
  .form-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .form-section {
    margin: 0 -1.5rem;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .form-section:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background: #7F74D0;
    top: 0;
    bottom: 0;
    left: -1000%;
    right: -1000%;
  }
}

.form-section__title {
  margin-bottom: 2.3rem;
}

.form-section__btn {
  margin: 2rem 0 -3.8rem;
}

.advantages-section {
  margin: 13.5rem 0 2.9rem;
}

.advantages-item {
  margin-bottom: 3rem;
  line-height: 3rem;
}

.advantages-item__title {
  font-weight: 700;
  margin: 2.8rem 0 0.8rem;
  line-height: 3rem;
  font-size: 2rem;
}

.advantages-item__title_margin {
  margin: 0 0 0 2.3rem;
}

@media only screen and (max-width: 1199px) {
  .advantages-item__title_margin {
    margin: 2rem auto 0;
    text-align: center;
  }
}

.color-box {
  width: 15.6rem;
  height: 15.6rem;
  padding: 2.1rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.color-box_md {
  width: 14rem;
  height: 14rem;
  padding: 1.4rem;
}

.color-box__num {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.color-box__inside {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.color-box_blue {
  background: linear-gradient(261.97deg, #347EE4 5.66%, #2B64B2 95.05%);
  -webkit-box-shadow: 0px 10px 20px rgba(84, 127, 185, 0.25);
          box-shadow: 0px 10px 20px rgba(84, 127, 185, 0.25);
}

.color-box_blue .color-box__inside {
  background: #337ADD;
  -webkit-box-shadow: 0px 0px 20px #2E69BA;
          box-shadow: 0px 0px 20px #2E69BA;
}

.color-box_green {
  background: linear-gradient(261.97deg, #2FD297 5.66%, #2CB382 95.05%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 144, 14, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 144, 14, 0.25);
}

.color-box_green .color-box__inside {
  background: rgba(47, 210, 151, 0.3);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 144, 14, 0.4);
          box-shadow: 0px 0px 20px rgba(0, 144, 14, 0.4);
}

.color-box_violet {
  background: linear-gradient(261.97deg, #AB3FF7 5.66%, #7B2CB3 95.05%);
  -webkit-box-shadow: 0px 10px 20px rgba(64, 0, 144, 0.25);
          box-shadow: 0px 10px 20px rgba(64, 0, 144, 0.25);
}

.color-box_violet .color-box__inside {
  background: rgba(156, 69, 219, 0.3);
  -webkit-box-shadow: 0px 0px 20px rgba(64, 0, 144, 0.4);
          box-shadow: 0px 0px 20px rgba(64, 0, 144, 0.4);
}

.color-box_light-blue {
  background: linear-gradient(261.97deg, #3DC1E7 5.66%, #2C95B3 95.05%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 108, 144, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 108, 144, 0.25);
}

.color-box_light-blue .color-box__inside {
  background: #38B3D6;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 108, 144, 0.4);
          box-shadow: 0px 0px 20px rgba(0, 108, 144, 0.4);
}

.about-section__slider {
  width: 47.9%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1399px) {
  .about-section__slider {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 991px) {
  .about-section__slider {
    width: 100%;
  }
}

.about-section__text {
  padding-top: 8.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .about-section__text {
    padding: 0;
  }
}

.about-section__text p {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 1400px) {
  .about-section__text p {
    padding-right: 5%;
  }
}

.about-slider {
  margin-left: -45.7%;
}

@media only screen and (max-width: 1399px) {
  .about-slider {
    margin-left: -6rem;
  }
}

@media only screen and (max-width: 991px) {
  .about-slider {
    margin: 3rem 0 0;
  }
}

.about-slider__swiper-nav {
  position: absolute;
  bottom: 2rem;
  left: 36.5%;
  right: 0;
  z-index: 3;
}

.text-decoration {
  font-size: 1.9rem;
  font-weight: 600;
  padding-left: 2.1rem;
  position: relative;
  margin-bottom: 2.1rem;
}

@media only screen and (max-width: 767px) {
  .text-decoration {
    line-height: 2.4rem;
    font-size: 1.6rem;
  }
}

.text-decoration:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.9rem;
  left: 0;
  height: 5rem;
  width: 0.3rem;
  background: #7F74D0;
}

.text-decoration_sm {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.1rem;
}

.text-decoration_md {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3.1rem;
}

.text-decoration_margin {
  margin-bottom: 2.6rem;
}

.category-section {
  margin: 12.2rem 0 9rem;
}

@media only screen and (max-width: 767px) {
  .category-section {
    margin: 5rem 0;
  }
}

.category-item {
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 3.5rem 2.9rem;
  color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 1199px) {
  .category-item {
    padding: 2.5rem 1.5rem;
  }
}

.category-item:hover .category-item__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.category-item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.category-item__title {
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 1199px) {
  .category-item__title {
    margin-bottom: 0.5rem;
  }
}

.category-item__price {
  font-size: 2.6rem;
}

.category-row__image {
  width: 55%;
}

.category-row__text {
  width: 45%;
}

.text-section {
  margin: 9rem 0 10.2rem;
}

@media only screen and (max-width: 767px) {
  .text-section {
    margin: 5rem 0;
  }
}

.text-section__image {
  position: relative;
  z-index: 1;
  display: inline-block;
}

@media only screen and (min-width: 1400px) {
  .text-section__image {
    margin: 0 -4.1rem 0 2rem;
  }
  .text-section__image_margin {
    margin: 0 0 0 -7.1rem;
  }
}

@media only screen and (max-width: 991px) {
  .text-section__image {
    margin: 2rem auto 0 !important;
    display: block;
    width: 100%;
  }
}

.text-section__image:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 1.8rem;
  right: 1.8rem;
  height: 21.5rem;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
}

.text-section__image img {
  border-radius: 8px;
}

@media only screen and (max-width: 991px) {
  .text-section__image img {
    width: 100%;
  }
}

.text-section p {
  margin-bottom: 3.9rem;
}

@media only screen and (min-width: 1400px) {
  .text-section__content_padding {
    padding-left: 2rem;
  }
}

.dots-list {
  padding: 0.9rem 1rem 0 1.2rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 1400px) {
  .dots-list {
    padding-right: 5%;
  }
}

.dots-list__item {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.6rem;
}

.dots-list__item:before {
  content: '';
  display: block;
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: 0;
  top: 1.5rem;
  border-radius: 50%;
  background: #000;
}

.dots-list_padding {
  padding-top: 0.5rem;
  padding-right: 0;
}

.dots-list_padding .dots-list__item {
  margin-bottom: 1.2rem;
}

.dots-list_vertical {
  padding: 0 1rem 0 0.8rem;
  line-height: 3.6rem;
  margin-bottom: 1.9rem;
}

.dots-list_vertical .dots-list__item {
  margin-bottom: 1.7rem;
}

.num-list {
  counter-reset: list;
  padding-left: 0.7rem;
  line-height: 3.6rem;
  margin-bottom: 3rem;
}

.num-list__item {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1.8rem;
  counter-increment: list;
}

.num-list__item:before {
  content: counter(list) ".";
  position: absolute;
  top: 0;
  left: 0;
}

.team-section {
  margin: 11.3rem 0 8rem;
}

@media only screen and (max-width: 767px) {
  .team-section {
    margin: 5rem 0;
  }
}

.team-item {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .team-item {
    margin-bottom: 3rem;
  }
}

.team-item__image {
  width: 30rem;
  height: 30rem;
  background: #D9D9D9;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5rem auto 2rem;
}

@media only screen and (max-width: 1199px) {
  .team-item__image {
    width: 20rem;
    height: 20rem;
  }
}

.team-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1200px) {
  .team-item__name {
    padding: 0 15%;
  }
}

.review-section {
  margin-bottom: 11.9rem;
}

.review-slider .swiper-slide {
  padding-top: 4.6rem;
}

@media only screen and (max-width: 767px) {
  .review-slider .swiper-arrow {
    position: absolute;
    top: 5rem;
    left: -1rem;
    z-index: 5;
  }
  .review-slider .swiper-arrow.swiper-next {
    left: auto;
    right: -1rem;
  }
}

.review-item {
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 7.4rem 3rem 2.1rem;
  margin: 6rem 0 5rem;
  line-height: 3rem;
}

.review-item:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 4.9rem;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: -1;
}

.review-item__image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: -6rem;
  margin: 0 auto;
}

.review-item p {
  margin-bottom: 1rem;
}

.review-item__name {
  font-size: 1.9rem;
}

@media only screen and (max-width: 767px) {
  .review-item__name {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.review-item__city {
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .review-item__city {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.review-item__info {
  margin: 0.9rem 0 0 3rem;
}

@media only screen and (max-width: 767px) {
  .review-item__info {
    margin: 0.8rem 0 0 1rem;
  }
}

.review-item_list {
  padding: 3rem 3rem 2rem;
  margin: 0 0 3rem;
}

@media only screen and (max-width: 767px) {
  .review-item_list {
    padding: 2rem;
  }
}

.review-item_list .review-item__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: static;
  width: 8.2rem;
  height: 8.2rem;
  margin: 0 0 2rem;
}

@media only screen and (max-width: 767px) {
  .review-item_list .review-item__image {
    width: 7rem;
    height: 7rem;
  }
}

.footer {
  background: #45425C;
}

.footer-nav {
  padding: 2.1rem 0.9rem 2rem 0.4rem;
  border-bottom: 1px solid #585477;
  margin-bottom: 1.9rem;
}

.footer-nav__link {
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  .footer-nav__link {
    font-size: 1.6rem;
  }
}

.footer__contacts {
  margin-top: -0.6rem;
}

.footer__phones {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__phones .phone {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0 2.8rem 0 0 !important;
  display: inline-block;
}

@media only screen and (max-width: 991px) {
  .footer__phones .phone {
    margin-bottom: 0.5rem !important;
  }
}

.footer__phones .icon-phone {
  margin-bottom: -0.5rem;
}

@media only screen and (max-width: 991px) {
  .footer__social-list {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer__social-list {
    margin: 1.5rem auto 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__bottom {
  border-top: 1px solid #585477;
  padding: 2.6rem 0;
  font-size: 1.7rem;
  line-height: 2.1rem;
  margin-top: 0.8rem;
}

@media only screen and (max-width: 767px) {
  .footer__bottom {
    font-size: 1.4rem;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer__bottom .email {
    display: block;
    margin: 0.5rem 0;
  }
}

.footer__logo {
  margin-left: -1.4rem;
}

@media only screen and (max-width: 991px) {
  .footer__logo {
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 1rem;
  }
}

.footer__logo img {
  margin: -0.4rem 0 0.2rem;
}

.footer__info {
  margin-right: -0.3rem;
}

.slogan {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-left: 0.4rem;
  color: #F7C700;
}

.social-list__link {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .social-list__link {
    margin: 0 0.8rem;
  }
}

.price-group {
  margin: 5.4rem 0 6.1rem;
}

@media only screen and (max-width: 767px) {
  .price-group {
    margin: 0 0 3rem;
  }
}

.price-group__heading {
  margin-bottom: 2rem;
}

.price-item {
  border-top: 1px solid #fff;
  padding: 2rem 0 1.9rem;
}

.price-item p {
  margin-bottom: 0;
}

.pagination {
  padding-top: 1rem;
}

.pagination__item {
  margin: 0 1rem;
}

@media only screen and (max-width: 767px) {
  .pagination__item {
    margin: 0 0.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .pagination__item:first-child {
    margin-right: 2rem;
  }
  .pagination__item:last-child {
    margin-left: 2rem;
  }
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 7rem;
  font-weight: 500;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 767px) {
  .pagination__link {
    width: 4rem;
    height: 4rem;
  }
}

.pagination__link:hover, .pagination__link.active {
  background: #7F74D0;
  color: #fff;
}
