*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #838D9B !important;
}

::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #838D9B !important;
}

:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #838D9B !important;
}

:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #838D9B !important;
}

:focus::-webkit-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label, input:not([type="checkbox"]),
input:not([type="radio"]), button {
  -webkit-appearance: none;
  font-family: inherit;
}

label, input[type="submit"], button {
  cursor: pointer;
}

img {
  border: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

button:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover::-webkit-outer-spin-button,
input:hover::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* @include transform-translate(#, #); */
/* @include transform-translateY(#); */
/* @include transform-translateX(#); */
/* @include transform-translate3d(#, #, #); */
/* @include transform-rotate(#); */
/* @include transform-scale(#); */
/* @include animation(#); */
/* @include animation-delay(#); */
/* @include animation-duration(#); */
/* @include animation-fill-mode(#); */
/* @include animation-name(#); */
/* @include transition(#); */
/* @include transition-transform(#, #); */
/* @include transition-transform-cubic-bezier(#, #, #, #, #); */
/* @include transition-timing-function(#); */
/* @include transition-duration(#); */
/* @include transition-delay(#); */
/* @include backface-visibility(#); */
/* @include transition-opacity-visibility(#, #); */
/* @include transition-opacity(#); */
/* @include box-shadow(#); */
/* @include opacity(#); */
/* @include border-radius(#); */
/* @include border_b_l-radius(#); */
/* @include border_b_r-radius(#); */
/* @include border_t_r-radius(#); */
/* @include border_t_l-radius(#); */
/* @include box-sizing(#); */
/* @include user-select(#); */
/* @include filter-blur-brightness(#, #); */
/* @include filter-img(#, #); */
/* @include filter(#); */
/* @include box-sizing(#, #(0)); */
@font-face {
  font-family: 'Bosch Sans';
  src: url("../fonts/BoschSans-Regular.eot");
  src: url("../fonts/BoschSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BoschSans-Regular.woff") format("woff"), url("../fonts/BoschSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans';
  src: url("../fonts/BoschSans-Black.eot");
  src: url("../fonts/BoschSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BoschSans-Black.woff") format("woff"), url("../fonts/BoschSans-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font: 400 3.5rem/3.3rem 'Bosch Sans', sans-serif;
  color: #000;
  background: #fff;
}

@media only screen and (max-width: 1349px) {
  body {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.wrap {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.img-fluid {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg_primary {
  color: #fff;
  background: #013b6b;
  background: -webkit-gradient(linear, left top, right top, from(#013b6b), to(#005490));
  background: linear-gradient(to right, #013b6b 0%, #005490 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013b6b', endColorstr='#005490',GradientType=1 );
}

.text_bold {
  font-weight: 800;
}

.text_center {
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 8.7rem;
  line-height: 1;
}

@media only screen and (max-width: 1349px) {
  .title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 3.5rem;
  }
}

.title-block {
  padding: 0.8rem 2rem 3rem;
}

.title-block_padding {
  padding: 3rem 2rem 3.3rem;
}

.title_xs {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 0.85;
}

@media only screen and (max-width: 1349px) {
  .title_xs {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1199px) {
  .title_xs {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .title_xs {
    font-size: 2.8rem;
  }
}

.title_sm {
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
}

@media only screen and (max-width: 1349px) {
  .title_sm {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1199px) {
  .title_sm {
    font-size: 4rem;
  }
}

.title_md {
  font-size: 8.5rem;
  line-height: 1;
  font-weight: 800;
}

@media only screen and (max-width: 1599px) {
  .title_md {
    font-size: 6rem;
    line-height: 7rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  .title_md {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
  }
}

.title_lg {
  font-size: 8.9rem;
  line-height: 1;
  font-weight: 800;
}

@media only screen and (max-width: 1599px) {
  .title_lg {
    font-size: 6rem;
    line-height: 7rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  .title_lg {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
  }
}

.header {
  position: relative;
  padding: 7.7rem 1.5rem 1.5rem 5.5rem;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding: 2rem 2rem;
  }
}

.header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.4rem;
  background: url(../img/header-before.jpg) 0 0 no-repeat;
  background-size: 100% auto;
}

@media only screen and (max-width: 1199px) {
  .logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 20rem;
  }
}

.logo-sm {
  margin: 6.8rem 0 0 auto;
}

@media only screen and (max-width: 767px) {
  .logo-sm {
    margin-top: 0;
  }
}

.promo-57-1 {
  position: relative;
}

.promo-57-1__text {
  position: absolute;
  left: 3.9rem;
  width: 46.5%;
  top: 23.1%;
}

@media only screen and (max-width: 1199px) {
  .promo-57-1__text {
    left: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .promo-57-1__text {
    position: static;
    width: 100%;
    padding: 0 2rem 2rem;
    margin-bottom: 2rem;
  }
}

.promo-57-1__title {
  font-size: 5.1rem;
  line-height: 1;
  font-weight: 800;
  padding: 0 1rem;
  letter-spacing: -0.19rem;
}

@media only screen and (max-width: 1199px) {
  .promo-57-1__title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 991px) {
  .promo-57-1__title {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .promo-57-1__title {
    font-size: 3rem;
  }
}

.promo-57-1__series {
  display: block;
  font-size: 23.6rem;
  -webkit-transform: scaleX(0.57) translateX(-40%);
          transform: scaleX(0.57) translateX(-40%);
  margin-bottom: 4.4rem;
  line-height: 0.9;
  white-space: nowrap;
}

@media only screen and (max-width: 1919px) {
  .promo-57-1__series {
    font-size: 20rem;
  }
}

@media only screen and (max-width: 1599px) {
  .promo-57-1__series {
    font-size: 16rem;
  }
}

@media only screen and (max-width: 1199px) {
  .promo-57-1__series {
    font-size: 12rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .promo-57-1__series {
    font-size: 8rem;
  }
}

.promo-57-1__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 8.2rem 3.2rem 2.1rem 0;
}

@media only screen and (max-width: 1199px) {
  .promo-57-1__logo {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .promo-57-1__logo {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo-57-2__title {
  margin-bottom: 3.3rem;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 7.3rem;
  line-height: 8.7rem;
}

@media only screen and (max-width: 1599px) {
  .advantages-item {
    font-size: 4rem !important;
    line-height: 5rem !important;
    margin-bottom: 5rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  .advantages-item {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .advantages-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages-item__text {
  position: relative;
  z-index: 2;
  width: 49.6%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 5rem;
}

.advantages-item__text.order-md-2 {
  padding-right: 2rem;
}

@media only screen and (max-width: 1919px) {
  .advantages-item__text {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media only screen and (max-width: 1599px) {
  .advantages-item__text {
    padding: 0 2rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .advantages-item__text {
    width: 100%;
  }
}

.advantages-item .advantages-item__title {
  margin: 6.2rem 0 0.5rem 0rem;
}

@media only screen and (max-width: 1599px) {
  .advantages-item .advantages-item__title {
    margin: 2rem 0 !important;
  }
}

.advantages-item__image {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1919px) {
  .advantages-item__image {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media only screen and (max-width: 1599px) {
  .advantages-item__image {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .advantages-item__image {
    width: 30rem;
    margin: 0 auto !important;
  }
}

.advantages-item__icon {
  margin: 10.9rem 0 0 2.4rem;
}

@media only screen and (max-width: 1599px) {
  .advantages-item__icon {
    margin: 5rem 0 0 !important;
    width: 12rem;
  }
}

.advantages-item p {
  margin-bottom: 2rem;
}

.advantages-item-1 {
  line-height: 9.9rem;
}

@media only screen and (min-width: 1900px) {
  .advantages-item-1 {
    margin-bottom: -21.2rem;
  }
  .advantages-item-1 .advantages-item__text {
    padding-left: 0;
  }
}

.advantages-item-1 .advantages-item__title {
  margin: 6.2rem 0 0.5rem 0rem;
}

.advantages-item-2 {
  line-height: 9.3rem;
  margin-bottom: 25.5rem;
}

.advantages-item-2 .advantages-item__title {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 1900px) {
  .advantages-item-2 .advantages-item__title {
    white-space: nowrap;
  }
}

.advantages-item-2 .advantages-item__image {
  margin: 5.4rem 4.4rem 0 0;
}

.advantages-item-2 .advantages-item__icon {
  margin: 14.7rem 0 0 0.5rem;
}

.advantages-item-3 {
  margin-bottom: 48rem;
  line-height: 10.1rem;
}

.advantages-item-3 .advantages-item__title {
  line-height: 10.1rem;
  margin-bottom: 12.2rem;
}

@media only screen and (min-width: 1900px) {
  .advantages-item-3 .advantages-item__text {
    width: 53.4%;
  }
}

.advantages-item-3 .advantages-item__image {
  margin: 10.9rem 0 0 7.5rem;
}

.advantages-item-4 {
  font-size: 7.9rem;
  margin-bottom: 9rem;
  line-height: 9.8rem;
}

.advantages-item-4 .advantages-item__title {
  line-height: 9.8rem;
  margin-bottom: 9.2rem;
}

.advantages-item-4 .advantages-item__text {
  padding: 6.3rem 0 0 8.9rem;
}

.advantages-item-5 {
  font-size: 7.9rem;
  line-height: 9.8rem;
  margin-bottom: 15.6rem;
}

.advantages-item-5 .advantages-item__image {
  margin-left: 10rem;
}

.advantages-item-5 .advantages-item__text {
  padding: 2.8rem 2rem 0 1.1rem;
}

.advantages-item-5 .advantages-item__title {
  margin-bottom: 10rem;
}

.advantages-item-5 .advantages-item__icon {
  margin: 5.2rem 0 0;
}

.advantages-item-6 {
  line-height: 9.8rem;
  margin-bottom: 26.5rem;
}

.advantages-item-6 .advantages-item__image {
  margin: 0 3% 0 -13%;
}

.advantages-item-6 .advantages-item__text {
  padding: 5.2rem 0 0 9.8rem;
}

.advantages-item-6 .advantages-item__title {
  margin-bottom: 0;
  line-height: 10.2rem;
}

.advantages-item-6 p {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 1599px) {
  .advantages-item-6 p {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .advantages-item-6 p {
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1600px) {
  .advantages-item-6 p:last-child {
    font-size: 8.5rem;
  }
}

.advantages-item-7 {
  font-size: 7.5rem;
  line-height: 9.8rem;
  margin-bottom: 6.3rem;
}

.advantages-item-7 .advantages-item__image {
  margin-left: 6rem;
}

.advantages-item-7 .advantages-item__text {
  padding-left: 2.2rem;
}

.advantages-item-7 .advantages-item__title {
  margin-bottom: 9.8rem;
}

.advantages-item-7 .advantages-item__icon {
  margin: 9.5rem 0 0 0;
}

.promo-57-3__image {
  margin: 3.7rem 0 4.3rem;
}

.promo-57-3__title {
  padding: 2.8rem 2rem 4rem;
}

.promo-57-4 {
  background: #003e6e;
  padding: 4.8rem 0 4.1rem;
  margin-bottom: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .promo-57-4 {
    display: block;
  }
}

.promo-57-4__text {
  width: 50.5%;
  font-weight: 800;
  margin-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 1599px) {
  .promo-57-4__text {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .promo-57-4__text {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
}

.promo-57-4__image {
  padding: 2.6rem 0;
}

@media only screen and (max-width: 991px) {
  .promo-57-4__image {
    padding: 2rem 2rem 4rem;
  }
  .promo-57-4__image img {
    width: 40rem;
    margin: 0 auto;
  }
}

.promo-57-4__logo {
  margin-top: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 2rem;
}

@media only screen and (max-width: 1599px) {
  .promo-57-4__logo {
    padding: 0 2rem;
  }
}

.info-item {
  margin-bottom: 1.3rem;
  line-height: 1.2;
}

@media only screen and (max-width: 991px) {
  .info-item {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  .info-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1600px) {
  .info-item_margin {
    margin-bottom: 4.8rem;
  }
}

.info-item__icon {
  width: 11.6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 2.8rem;
}

@media only screen and (max-width: 575px) {
  .info-item__icon {
    margin: 0 auto 1rem;
  }
}

.info-item__icon_margin {
  margin-top: 2.4rem;
}

@media only screen and (max-width: 991px) {
  .info-item__icon_margin {
    margin-top: 0;
  }
}

.info-item__title {
  margin-bottom: 0.6rem;
}

.promo-57-5 {
  margin-top: 4.4rem;
  position: relative;
  color: #fff;
  background: #003c6b;
}

.promo-57-5__heading {
  position: absolute;
  top: 10.7rem;
  left: 9.9rem;
}

@media only screen and (max-width: 1919px) {
  .promo-57-5__heading {
    top: 3rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 575px) {
  .promo-57-5__heading {
    position: static;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.promo-57-5__title {
  font-size: 13.8rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1919px) {
  .promo-57-5__title {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 1199px) {
  .promo-57-5__title {
    font-size: 8rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 991px) {
  .promo-57-5__title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 575px) {
  .promo-57-5__title {
    font-size: 3rem;
  }
}

.promo-57-5__logo {
  margin: 4.1rem 8rem 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1919px) {
  .promo-57-5__logo {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 1599px) {
  .promo-57-5__logo {
    width: 20%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 575px) {
  .promo-57-5__logo {
    width: 15rem;
    margin: 0 auto 1rem;
  }
}

.promo-57-5__text {
  font-size: 7.5rem;
  line-height: 9.3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem 5% 5.2rem;
}

@media only screen and (max-width: 1919px) {
  .promo-57-5__text {
    font-size: 5rem;
    line-height: 6rem;
  }
}

@media only screen and (max-width: 1199px) {
  .promo-57-5__text {
    font-size: 3rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 991px) {
  .promo-57-5__text {
    padding: 2rem;
  }
}

@media only screen and (max-width: 575px) {
  .promo-57-5__text {
    position: static;
    font-size: 2.2rem;
    line-height: 1.2;
  }
}
