@font-face {
    font-family: 'Bosch Sans';
    src: url('../fonts/BoschSans-Regular.eot');
    src: url('../fonts/BoschSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BoschSans-Regular.woff') format('woff'),
        url('../fonts/BoschSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bosch Sans';
    src: url('../fonts/BoschSans-Black.eot');
    src: url('../fonts/BoschSans-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BoschSans-Black.woff') format('woff'),
    url('../fonts/BoschSans-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}